<form asp-action="Index">
    <label>Nhap Id</label>
    <input type="text" name= "Id">
    <label>Nhap ten</label>
    <input type="text" name= "Ten">
    <label>Nhap tuoi</label>
    <input type="text" name= "Age">
    <label>Nhap luong</label>
    <input type="text" name= "Luong">
    <label>Nhap dia chi</label>
    <input type="text" name= "Address">
    <input type="submit" value="send">

</form>
<h1>Hien thi thong tin: @ViewBag.infoShow</h1>