<h1>Du lieu tu Controller gui ve la: @ViewBag.infoEmployee</h1>
<form asp-action="Index">
    <label>Nhap MaNV</label>
    <input type="text" name="Id">
    <label>Nhap ho ten: </label>
    <input type="text" name="FullName">
    <label>Nhap tuoi: </label>
    <input type="text" name="Age">
    <label>Nhap luong: </label>
    <input type="text" name="Luong">
    <input type="submit" value="Gui du lieu">
</form>
